@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* reset */
html, body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, tr, td, form, fieldset, 
input, button, label, legend, textarea, select, header, footer, main, aside, nav, section, article, 
figure, a, span, strong, em, b, i, address {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
html {
    font-size:0.625em;
    color:#04131C;
}
body, h1, h2, h3, h4, h5, h6, button {
    font-family:'Open Sans', 'NanumSquare', '돋움', dotum, sans-serif;
    line-height:1;
    font-weight:700;
}
ul, ol, li {list-style:none;} 
a {text-decoration:none;}
img, fieldset {
    border:none;
    vertical-align:middle;
}
strong, em, b, i, address, cite {
    font-weight:400;
    font-style:normal;
}
table {border-collapse:collapse;}
button {
    border:none;
    background-color:transparent;
    cursor:pointer;
}

/* common */
.hide {display: none;}
.blind {
    position:absolute;
    left:-9999px;
}
.clear:after {
    content:"";
    display:block;
    clear:both;
}
.pc {}
.mobile {display:none;}

/* header - pc */

#wrap {}
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}
.headerInner {
    max-width:1170px;
    height:150px;
    margin:0 auto;
}
.headerInner h1 {
    float:left;
	margin-top:90px;
    width:128px;
}
.headerInner h1 img {
    width:100%;
}

#navWrap {
    float:right;
    margin-top:92px;
}
.gnb {}
.gnb li {
    display:inline;
}
.gnb li a {
    margin-left:25px;
    font-size:2rem;
    color:#04131C;
}


/* visual - pc */

#visual {
    background-color:#F2F2F2;
    height:1103px;
    background:url(../img/bg_main01.png) no-repeat center/cover;
}

.text_wrap {
    max-width:1170px;
    margin:0 auto;
}
.text_wrap h2 {
    position:relative;
    font-family:'Oswald', 'NanumSquare', '돋움', dotum, sans-serif;
    font-size:6rem;
    line-height:80px;
    margin-bottom:266px;
    padding-top:340px;
}
.text_wrap h2:before{
    position:absolute;
    top:545px;
    left:323px;
    content:"";
    width:330px;
    height:30px;
    display:block;
    background-color:#79E202;
    z-index:-1;
}
.text_wrap h2:after {
    position:absolute;
    top:484px;
    left:663px;
    content:"*";
    display:block;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-weight:800;
    font-size:5.6rem;
}

.sns {}
.sns li {
    display:inline-block;
    margin-right:57px;
}
.sns li a {}


/* matinContents - pc */

#mainContents {}

/* award - pc */

#award {
    max-width:1170px;
    margin:0 auto;
    position:relative;
    height:160px;
    padding-top:49px;
}

#award h2 {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    font-size:2.4rem;
    font-weight:800;
    line-height:33px;
    margin-left:69px;
}
#award h2:before {
    position:absolute;
    top:50%;
    left:-69px;
    content:"*";
    display:block;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-weight:800;
    font-size:8rem;
    color:#79E202;
}
.count {
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    display: flex;
    align-items: center;
}
.count .num {
    display:inline-block;
    font-family:'Oswald', 'NanumSquare', '돋움', dotum, sans-serif;
    font-size:7.3rem;
    margin-right:17px;
}
.count p {
    display:inline-block;
    font-size:1.6rem;
    line-height:19px;
    margin-right:65px;
}
.count p:last-child {
    margin-right:0;
}
.count p:after {
    content:"";
    width:2px;
    height:85px;
    background-color:#04131C66;
    
}


/* news - pc */

#news {
    background-color:#F2F2F2;
}
.newsInner {
    max-width:1170px;
    margin:0 auto;
    padding:132px 0 168px 0;
}
.newsInner h2 {
    display:inline-block;
    font-size:4rem;
    margin-right:13px;
    margin-bottom:19px;
    letter-spacing:-0.8px;
}
.newsInner p {
    display:inline-block;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-weight:400;
    font-size:1.4rem;
    color:#5B5F60;
}
.newsInner .btn_blog {
    float:right;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-size:1.4rem;
    color:#79E202;
    text-decoration:underline;
    margin-top:24px;
}

.newsInner ul li {
    float:left;
    margin-right:29px;
}
.newsInner ul li:last-child {
    margin-right:0;
 }
.newsInner ul li span {
    display:block;
    width:370px;
    height:353px;
    background:url(../img/img_news01.jpg) no-repeat center/cover;
    margin-bottom:36px;
    box-shadow: 0px 10px 30px #40585633;
    text-indent:-9999px;
    overflow:hidden;
}
.newsInner ul li:nth-of-type(2) span {
    background-image:url(../img/img_news02.jpg);
}

.newsInner ul li:nth-of-type(3) span {
    background-image:url(../img/img_news03.jpeg);
}
.newsInner ul li i {
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-size:1.4rem;
    font-weight:700;
    color:#79E202;
    padding-left:23px;
   
}
.newsInner ul li h3 {
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    padding-left:23px;
    font-size:1.8rem;
    line-height:27px;
    font-weight:800;
    margin-top:15px;
}

/* about - pc */
#about {
    background-color:#F2F2F2;
}
.cgWrap {
    position:relative;
    max-width:1170px;
    margin:0 auto;
    padding-bottom:120px;
    z-index:10;
}
.cgWrap article {}
.cgWrap article h2 {
    font-family:'Oswald', 'NanumSquare', '돋움', dotum, sans-serif;
    font-size:6rem;
    line-height:80px;
    margin-bottom:120px;
   
}
.cgWrap article h2:before{
    position:absolute;
    top:125px;
    left:0;
    content:"";
    width:400px;
    height:30px;
    display:block;
    background-color:#79E202;
    z-index:-1;
}
.cgWrap article p:before {
    position:absolute;
    top:0;
    left:-40px;
    content:"*";
    display:block;
    font-weight:400;
    font-size:8rem;
    color:#79E202;
}
.cgWrap article p {
    position:absolute;
    right:0;
    top:210px;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-weight:400;
    font-size:1.8rem;
    line-height:36px;

}

/* strengths - pc */
.strengths {
    position:relative;
    height:754px;
    background-color:#04131C;
}
.strengths .img_left {
    float:left;
    display:block;
    width:50%;
    height:900px;
    background:#FFF;
    box-shadow:0px 10px 30px #40585633;
    text-indent:-9999px;
    overflow:hidden;
    margin-top:-146px;
}
.strengths .text_right {
    float:left;
    padding:150px 0 127px;
    color:#FFF;
    margin-left:153px;
}
.strengths .text_right strong{
    font-family:'Oswald', 'NanumSquare', '돋움', dotum, sans-serif;
    font-size:4.8rem;
    font-weight:700;
    line-height:65px;
    letter-spacing:0.96px;
}
.strengths .text_right p {
    font-size:1.6rem;
    line-height:28px;
    margin-top:9px;
    margin-bottom:56px;
    width:350px;
}
.strengths .text_right p:last-child {
    margin-bottom:0;
} 

/* team - pc */
#team {
    height:640px;
    background:url(../img/bg_team.png) no-repeat center/cover;
    background-attachment:fixed;
}
.teamInner {
    max-width:1170px;
    margin:0 auto;
    padding:331px 0 97px;
}
.teamInner h2 {
    font-size:6rem;
    letter-spacing:-1.2px;
    margin-bottom:20px;
    color:#FFF;
}
.teamInner .btn_team {}
.teamInner i {
    font-size:2rem;
    font-weight:700;
    line-height:35px;
    color:#79E202;
    vertical-align:middle;
    margin-bottom:11px;
}
.teamInner i:before {
    content:"*";
    display:inline-block;
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-weight:400;
    font-size:4.6rem;
    color:#79E202;
    vertical-align:-17px;
    margin-right:6px;
}
.teamInner ul {}
.teamInner ul li {
    font-size:1.6rem;
    line-height:25px;
    color:#FFF;
}


/* recruit - pc */
#recruit {
    padding:140px 0;
    text-align:center;
    background-color:#FFF;
}
#recruit h2 {
    font-size:6rem;
    font-weight:800;
    color:#051C42;
    letter-spacing:-1.2px;
    line-height:82px;
}
#recruit p {
    font-size:2rem;
    font-weight:400;
    line-height:35px;
    margin:16px 0 52px;
}
#recruit a {
    font-family:'NanumSquare', '돋움', dotum, sans-serif;
    font-size:2.8rem;
    font-weight:800;
    color:#79E202;
    text-decoration:underline;
}


/* footer - pc */
footer {
    height:389px;
    background-color:#04131C;
}
footer ul {
    max-width: 1120px;
    height:129px;
    margin:0 auto;
    padding-top:58px;
}
footer ul li {
    display:inline;
}
footer ul li a {
    margin-right:75px;
    font-size:1.6rem;
    line-height:22px;
    color:#FFF;
}

.copy {
    border-top:2px solid rgba(242,242,242,0.1);
}
.copyInner {
    position:relative;
    max-width: 1120px;
    margin:0 auto;
    padding-top:67px;
}
.copyInner > span {
    position:absolute;
    top:67px;
    left:0;
    display:inline-block;
    text-align:left;
    width:174px;
    height:56px;
}
.copyInner span img {
    width:100%;
}
.copyInner p {
    font-size:1.6rem;
    font-weight:400;
    line-height:28px;
    color:#F2F2F2;
    text-align:center;
    margin-top:5px;
}
.copyInner p span{}
.copyInner p span:after{
    display:inline-block;
    content:"|";
    vertical-align:1px;
    margin:0 10px;
}
.copyInner .f_sns {
    position:absolute;
    top:67px;
    right:0;
}
.copy .f_sns a {
    display:inline-block;
    width:26px;
    height:26px;
    margin-left:47px
}

