@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* reset */
html, body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, tr, td, form, fieldset, 
input, button, label, legend, textarea, select, header, footer, main, aside, nav, section, article, 
figure, a, span, strong, em, b, i, address {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
html {
    font-size:0.625em;
    color:#04131C;
}
body, h1, h2, h3, h4, h5, h6, button {
    font-family:'Open Sans', 'NanumSquareOTF', '돋움', dotum, sans-serif;
    line-height:1;
    font-weight:600;
}
ul, ol, li {list-style:none;} 
a {text-decoration:none;}
img, fieldset {
    border:none;
    vertical-align:middle;
}
strong, em, b, i, address, cite {
    font-weight:normal;
    font-style:normal;
}
table {border-collapse:collapse;}
button {
    border:none;
    background-color:transparent;
    cursor:pointer;
}

/* common */
.hide {display: none;}
.blind {
    position:absolute;
    left:-9999px;
}
.clear:after {
    content:"";
    display:block;
    clear:both;
}
.pc {}
.mobile {display:none;}

/* header - pc */

#wrap {}
header {
    position:relative;
    width:100%;
    background-color:#F2F2F2;
}
.headerInner {
    height:150px;
}
.headerInner h1 {
    float:left;
	margin-top:70px;
    margin-left:150px;
    width:177px;
}
.headerInner h1 img {
    width:100%;
}

#navWrap {
    float:right;
    margin-top:83px;
    margin-right:150px;
}
.gnb {}
.gnb li {
    display:inline;
    margin-left:54px;
}
.gnb li a {
    font-size:2.4rem;
    font-weight:600;
    color:#04131C;
}


/* visual - pc */

#visual {
    background-color:#F2F2F2;
}
.visualInner {
    width:100%;
    height:948px;
    padding-left:150px;
}
.img_wrap {
    padding-top:150px;
}
.img_wrap h2 {
    position:relative;
    font-family:'Oswald', 'NanumSquareOTF', '돋움', dotum, sans-serif;
    font-size:8rem;
    line-height:108px;
    margin-bottom:192px;
}
.img_wrap .under {
    position:absolute;
    top:580px;
    left:570px;
    content:"";
    width:450px;
    height:40px;
    display:block;
    background-color:#79E202;
}
.img_wrap h2:after {
    position:absolute;
    top:205px;
    left:885px;
    content:"*";
    display:block;
    font-size:8rem;
}

.sns {}
.sns li {
    display:inline-block;
    margin-right:57px;
}
.sns li a {}


/* matinContents - pc */

#mainContents {
    width:100%;
    
}
#award {
    position:relative;
    width:1300px;
    padding:45px 0;
    margin:0 auto;
}

#award h2 {
    float:left;
    font-size:2.8rem;
    font-weight:700;
    line-height:38px;
    margin-left:80px;
}
#award h2:before {
    position:absolute;
    top:70px;
    left:0;
    content:"*";
    display:block;
    font-family:'NanumSquareOTF', '돋움', dotum, sans-serif;
    font-weight:700;
    font-size:8rem;
    color:#79E202;
}
.count {
    float:right;
    height:160px;
}
.count .num {
    font-family:'Oswald', 'NanumSquareOTF', '돋움', dotum, sans-serif;
    float:left;
    font-size:8rem;
    margin-right:20px;
}
.count p {
    float:left;
    display:block;
    font-size:2rem;
    margin-top:10px;
    margin-right:78px;
}
.count p:last-child {
    margin-right:0;
}
.count p:after {
    content:"";
    width:2px;
    height:85px;
    background-color:#04131C66;
    
}

